---
import type { AboutProps } from "../types";

const { paragraphs } = Astro.props as AboutProps;
---

<section id="about" class="py-20 px-6 bg-zinc-800 text-white min-h-[50vh]">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-semibold mb-6 text-left">About Me</h2>
    {paragraphs.map((paragraph) => (
      <p class="mb-4 text-slate-300">{paragraph}</p>
    ))}
  </div>
</section>