---
import Badge from './Badge.astro';

const { id, title, synopsis, description, badges = [] } = Astro.props;
---

<div
  data-modal-trigger={id}
  role="button"
  tabIndex="0"
  class="group text-left w-full h-full p-4 border border-zinc-700 rounded-lg bg-zinc-800 hover:shadow-lg transition min-h-[12rem] cursor-pointer"
>
  <h3 class="text-lg font-semibold mb-1 truncate group-hover:underline">{title}</h3>
  <p class="text-slate-400 mb-2">{synopsis}</p>

  <div class="flex flex-wrap gap-2">
    {badges.map(b => <Badge {...b} />)}
  </div>
</div>